<form action="action_page.php" (ngSubmit)="save()" [formGroup]="form">
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
  
      <label for="email"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" formControlName="name" name="email" id="email" required>
  
      <label for="psw"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" formControlName="email" name="psw" id="psw" required>
  
      <label for="psw-repeat"><b>Password</b></label>
      <input type="password" placeholder="Repeat Password" formControlName="password" name="psw-repeat" id="psw-repeat" required>
      <hr>
  
      <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
      <button type="submit" class="registerbtn">Register</button>
    </div>
  
    <div class="container signin">
      <p>Already have an account? <a href="#">Sign in</a>.</p>
    </div>
  </form>
