<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <!-- <th scope="col">Handle</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of profilelist ; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{data.name}}</td>
        <td>{{data.email}}</td>
        <!-- <td>{{data}}</td> -->
      </tr>
   
   
    </tbody>
  </table>
